<style>
  h2, ul, li { margin:0; padding:0;  }

  h2 {
    clear: both;
    margin: 5px;
  }
  .headers {
    color: #333;
  }
  .headers dl {
    margin: 0;
    padding: 0;
    clear: both;
  }
  .headers dt {
    width: 100px;
    padding: 1px;
    float: left;
    text-align: right;
    font-weight: bold;
    color: #7f7f7f;
  }
  .headers dd {
    margin-left: 110px;
    padding: 1px;
  }

  .deliver_form {
    margin-bottom: 0;
    float: right;
  }
  .deliver_form input {
    width: 250px;
  }

  ul {
    list-style-type: none;
  }
  li {
    margin-left: 10px
  }
</style>
<%= form_tag deliver_email_preview_path(params[:id]), :class => 'deliver_form' do %>
  <%= text_field_tag :to, '', :placeholder => 'Send this email to me@yourcompany.com' %>
  <button type="submit">Send</button>
<% end %>
<h2>Headers</h2>
<div class="headers">
<% @mail.header_fields.each do |header| %>
 <dl>
   <dt><%= header.name %></dt>
   <dd><%= header.decoded %></dd>
 </dl>
<% end %>
</div>

<% if @mail.attachments.any? %>
<h2>Attachments</h2>
<ul>
  <% @mail.attachments.each do |attachment| %>
  <li><%= attachment.filename %></li>
  <% end %>
</ul>
<% end %>

<h2>Content</h2>
<ul>
<% @parts.each do |part| %>
  <li>
    <%= link_to "View #{render_format(part)} output", preview_email_preview_path(params[:id], :format => render_format(part)), :target => 'preview' %>
  </li>
<% end %>
</ul>
