<style>
  .header {
    color: #333;
    font-weight: bold;
  }
  .deliver_form {
    margin-bottom: 0;
  }
  .deliver_form input {
    width: 250px;
  }
  .body_display {
    width: 80%;
  }
</style>
<div class='headers'>
  <span class="header">To:</span>
  <span class="header_value"><%= @mail.to %></span>
  <% form_tag deliver_email_preview_path(params[:id]), :class => 'deliver_form' do %>
    <%= text_field_tag :to, '', :placeholder => 'Send this email to me@yourcompany.com' %>
    <button type="submit">Send</button>
  <% end %>
</div>
<div class='headers'>
  <span class="header">From:</span>
  <span class="header_value"><%= @mail.from %></span>
</div>
<div class='headers'>
  <span class="header">Subject:</span>
  <span class="header_value"><%= @mail.subject %></span>
</div>
<hr />
<!--
<h3>Debug output</h3>
<pre>
  <%= @mail.to_s %>
</pre>
-->

<% parts = @mail.multipart? ? @mail.parts : [@mail] %>
<% parts.each do |part| %>
  <h3><%= part.content_type %></h3>
  <iframe class="body_display" src="<%= display_email_preview_path(params[:id], :content_type => part.content_type) %>"></iframe>
<% end %>
