<style>
  .headers {
    color: #333;
  }
  .deliver_form {
    margin-bottom: 0;
    float: right;
  }
  .deliver_form input {
    width: 250px;
  }
  .content_type {
    margin: .5em 0;
  }
</style>
<%= form_tag deliver_email_preview_path(params[:id]), :class => 'deliver_form' do %>
  <%= text_field_tag :to, '', :placeholder => 'Send this email to me@yourcompany.com' %>
  <button type="submit">Send</button>
<% end %>
<h2>Message Headers</h2>
<pre class='headers'>
<%= @mail.header_fields.collect { |header| "#{header.name}:   #{header.decoded}\n"}%>
</pre>
<!--
<h3>Debug output</h3>
<pre>
  <%= @mail.to_s %>
</pre>
-->

<h2>Message Content</h2>
<% parts = @mail.multipart? ? @mail.parts : [@mail] %>
<% parts.each do |part| %>
  <h3 class="content_type"><%= part.content_type %></h3>
  <hr />
  <% if part.content_type.include?('text/plain') %>
    <pre><%= part.body %></pre>
  <% elsif part.content_type.include?('text/html')%>
    <%= part.body.to_s.html_safe %>
  <% end %>
<% end %>
