<div>
  To: <%= @mail.to %>
</div>
<div>
  From: <%= @mail.from %>
</div>
<div>
  Subject: <%= @mail.subject %>
</div>

<form>
  <p>Send this email to your inbox:</p>
  <%= text_field_tag :to %>
  <button type="submit">Send</button>
</form>

<h3>Debug output</h3>
<pre>
  <%= @mail.to_s %>
</pre>

<h3>Body</h3>
<% parts = @mail.multipart? ? @mail.parts : [@mail] %>
<% parts.each do |part| %>
<h4><%= part.content_type %></h4>
<pre>
<%= part.body %>
</pre>
<% end %>
