<div>
  To: <%= @mail.to %>
</div>
<div>
  From: <%= @mail.from %>
</div>
<div>
  Subject: <%= @mail.subject %>
</div>

<% form_tag deliver_email_preview_path(params[:id]) do %>
  <p>Send this email to your inbox:</p>
  <%= text_field_tag :to %>
  <button type="submit">Send</button>
<% end %>

<!--
<h3>Debug output</h3>
<pre>
  <%= @mail.to_s %>
</pre>
-->

<h3>Body</h3>
<% parts = @mail.multipart? ? @mail.parts : [@mail] %>
<% parts.each do |part| %>
  <h4><%= part.content_type %></h4>
  <iframe src="<%= display_email_preview_path(params[:id], :content_type => part.content_type) %>"></iframe>
<% end %>
