<div>
  To: <%= @mail.to %>
</div>
<div>
  From: <%= @mail.from %>
</div>
<div>
  Subject: <%= @mail.subject %>
</div>

<form>
  <p>Send this email to your inbox:</p>
  <%= text_field_tag :to %>
  <button type="submit">Send</button>
</form>
<hr />
<% parts = @mail.parts.any? ? @mail.parts : [@mail] %>
<% parts.each do |part| %>
<strong><%= part.content_type %></strong>
<pre>
<%= part.body %>
</pre>
<% end %>
